* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Heebo", sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0px auto 32px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  text-decoration: none;
  list-style: none;
  color: #000;
  font-size: 20px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: calc(100vh - 70px);
  gap: 110px;
}

.heroContent h1 {
  font-weight: 700px;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
  margin-bottom: 40px;
}
.heroContent p {
  margin-bottom: 40px;
  font-size: 16px;
}

.heroCircle img {
  width: 243px;
  height: 243px;
  background-color: #eaf7ff;
  border-radius: 50%;
  background-color: #555;
}

button {
  background-color: #ff4b4b;
  color: #fff;
  width: 208px;
  height: 47px;
  /* margin-bottom: 71px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #e63939;
  transform: scale(1.1);
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.titles h2 {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
}
.container h2 {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
}

.recentPosts {
  padding: 20px;
  background-color: #f0f8ff;
  width: 100%;
  margin-bottom: 15px;
}

.posts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.postCard h3 {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
}
.postCard p {
  margin-bottom: 20px;
  color: #21243d;
  font-size: 16px;
}

.worksList {
  display: flex;

  justify-content: flex-start;
  flex-direction: column;
}
.workCard {
  /* background-color: #fff; */
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  color: #e0e0e0;
}
.workCard img {
  width: 246px;
  height: 180px;
  margin-bottom: 15px;
  border-radius: 6px;
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.workData h3 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #21243d;
}
.workData p {
  color: #21243d;
  font-size: 16px;
}
.workData {
  padding-left: 15px;
}
.featuredWorks h2 {
  margin-bottom: 22px;
}
.featuredWorks {
  margin-bottom: 83px;
}
.yearAndTags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
.yearAndTags h3 {
  font-size: 30px;
  color: #21243d;
}
.yearAndTags h5 {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;
  color: white;
  background: #143850;
  margin: 0;
  padding: 0;
}
.yearAndTags h6 {
  font-size: 20px;
  color: #8695a4;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.postCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.worksList {
  display: block;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

footer .socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.socialIcon {
  font-size: 24px;
  color: #555;
  transition: transform 0.3s, color 0.3s;
}

.socialIcon:hover {
  transform: rotate(360);
}

@media (max-width: 767px) {
  header nav {
    display: none;
  }

  .heroSection {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroCircle img {
    width: 180px;
    height: 175px;
  }

  .recentPosts .posts {
    flex-direction: column;
    gap: 20px;
  }

  .workCard {
    flex-direction: column;
    text-align: left;
  }

  .workCard img {
    width: 100%;
    height: auto;
  }
  .titles a {
    display: none;
  }
  .titles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    padding: 0 10px;
  }
}
